<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "What is the BeakBox?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "BeakBox is a unique musical bird toy that has been thoughtfully designed to provide cognitive stimulation through interactive music."
        }
      },{
        "@type": "Question",
        "name": "How does it work?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The concept is easy - the strong stainless steel lever activates music every time your bird presses or pulls it and the compact integrated speaker plays tunes you've uploaded onto your BeakBox. Your birds now can choose their favorite songs and play them whenever they want. How cool is that?"
        }
      },{
        "@type": "Question",
        "name": "Is the BeakBox safe?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We use only safe and non-toxic materials - stainless steel and New Zealand Radiata pine. No paints, dye, lead, zinc, or other toxic elements in our bird toys."
        }
      },{
        "@type": "Question",
        "name": "Does the BeakBox need to be plugged in?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Yes. The BeakBox doesn’t hold a charge and is powered by a micro-USB cable that needs to be plugged into a USB port (like your phone charger brick, USB power bank, or computer) to work."
        }
      }]
    }
</script>