<section>
  <article class="popular-questions main-container layout-grid light-background">
    <div class="flex-container">
      <h2 id="popular-questions">Your questions, <span style="color: #ff662b">answered</span></h2>
      <p>Have more questions about the BeakBox? Check our <a href="/help/">full FAQs</a> or flick us an email at <a href="mailto:contact@mybeakbox.com">contact@mybeakbox.com</a> 💛.</p>
      <div class="flex">
        <a class="button" href="https://shop.mybeakbox.com/">Go to BeakBox shop</a>
      </div>
    </div>
    <div class="flex-container no-gap">
      <details>
        <summary>Is BeakBox a good fit for my bird?</summary>
        <p>
          We've seen parrots of all ages, sizes, and species enjoying the BeakBox. Birds who take to the BeakBox most easily have two things in common: they love music and are open to new experiences.
        </p>
      </details>
      <details>
        <summary>How safe is BeakBox?</summary>
        <p>
          Safety is our top priority and we work hard to ensure our parrot toys are safe for both birds and humans. That is why we are constantly working on improving the safety and quality of
          BeakBox.
        </p>
        <p>While making design iterations, we listen to the feedback of animal welfare experts, local vets, and parrot owners to ensure that it is 100% safe for your parrots.</p>
      </details>
      <details>
        <summary>Does BeakBox need to be plugged in to work?</summary>
        <p>No! BeakBoxes are now battery-operated so they don’t need to be plugged in to work.</p>
      </details>
      <details>
        <summary>What if my parrot doesn’t like BeakBox?</summary>
        <p>We’ve got you covered! We offer a 30-day money-back guarantee so you can return your BeakBox back to us hassle-free.</p>
      </details>
      <details>
        <summary>Will BeakBox work with my cage setup?</summary>
        <p>
          BeakBox can be installed on cages with both vertical and horizontal bars. However, if you tend to keep your cage open most of the time, BeakBox might not be a suitable choice, as it is
          important that your parrots do not interact with the wooden part of the toy.
        </p>
      </details>
    </div>
  </article>
</section>
