<footer class="footer">
  <div class="main-container">
    <ul class="layout-grid">
      <li class="flex-container">
        <p>Shop</p>
        <a href="/">BeakBox Mini</a>
        <a href="/">BeakBox Medium</a>
        <a href="/">BeakBox Large</a>
      </li>

      <li class="flex-container">
        <p>Discover</p>
        <a href="/">Our story</a>
        <a href="/">Blog</a>
        <a href="/">Reviews</a>
        <a href="/">FAQs</a>
      </li>

      <li class="flex-container">
        <p>Support</p>
        <a href="/">Help</a>
        <a href="/">Shipping</a>
        <a href="/">Refunds</a>
      </li>

      <li class="flex-container">
        <p>Contact</p>
        <a href="mailto:contact@mybeakbox.com" aria-label="Send us an email!">contact@mybeakbox.com</a>
        <div class="flex-container row socials">
          <a href="https://www.facebook.com/mybeakbox" aria-label="Visit us on Facebook."><img src="/imgs/fb.svg" alt="Facebook" /></a>
          <a href="https://www.instagram.com/beak.box" aria-label="Visit us on Instagram."> <img src="/imgs/insta.svg" alt="Instagram" /></a>
          <a href="https://www.youtube.com/channel/UC52Hn9oBjDt89ZmaHnQfnVQ" aria-label="Visit us on YouTube."> <img src="/imgs/youtube.svg" alt="YouTube" /></a>
          <a href="https://twitter.com/mybeakbox" aria-label="Visit us on Twitter."> <img src="/imgs/twitter.svg" alt="Twitter" /></a>
        </div>
      </li>
    </ul>

    <div class="flex-container copyright row">
      <a href="/">Policies</a>
      <p>BeakBox © 2022. All rights reserved</p>
    </div>
  </div>
</footer>
