<footer class="page-footer dark-background">
  <div class="main-container">
    <ul class="layout-grid" role="list">
      <li class="flex-container">
        <p>Shop</p>
        <a href="https://shop.mybeakbox.com/products/beakbox-mini">BeakBox Mini</a>
        <a href="https://shop.mybeakbox.com/products/beakbox">BeakBox Medium</a>
        <a href="https://shop.mybeakbox.com/products/beakbox-big-bird-edition">BeakBox Large</a>
      </li>

      <li class="flex-container">
        <p>Discover</p>
        <a href="/about-us/">Our story</a>
        <a href="/blog/">Blog</a>
      </li>

      <li class="flex-container">
        <p>Support</p>
        <a href="/help/">Help and FAQ</a>
        <a href="https://shop.mybeakbox.com/policies/shipping-policy">Shipping</a>
        <a href="https://shop.mybeakbox.com/pages/returns-and-refunds">Refunds</a>
      </li>

      <li class="flex-container">
        <p>Contact</p>
        <a href="mailto:contact@mybeakbox.com" aria-label="Send us an email!">contact@mybeakbox.com</a>
        <div class="flex-container flex-container--row socials">
          <a href="https://www.facebook.com/mybeakbox" aria-label="Visit us on Facebook."><img src="/imgs/fb.svg" alt="Facebook" /></a>
          <a href="https://www.instagram.com/beak.box" aria-label="Visit us on Instagram."> <img src="/imgs/insta.svg" alt="Instagram" /></a>
          <a href="https://www.youtube.com/channel/UC52Hn9oBjDt89ZmaHnQfnVQ" aria-label="Visit us on YouTube."> <img src="/imgs/youtube.svg" alt="YouTube" /></a>
          <a href="https://twitter.com/mybeakbox" aria-label="Visit us on Twitter."> <img src="/imgs/twitter.svg" alt="Twitter" /></a>
        </div>
      </li>
    </ul>

    <div class="flex-container flex-container--row copyright">
      <a href="/policies/">Policies</a>
      <p>BeakBox © 2023. All rights reserved</p>
    </div>
  </div>
</footer>
