<section class="main-container main-container--align-center hero hero--home">
  <div class="layout-grid">
    <div class="flex-container" style="position: relative">
      <h1>{{ header-text }}</h1>
      <p>{{ header-paragraph }}</p>
      <div class="flex">
        <a href="how-it-works/" class="button" aria-label="Learn how BeakBox works">Discover BeakBox</a>
      </div>
      <p class="arrow">100s of people chose BeakBox to make the lives of their pet parrots more fun. Are you in?</p>
    </div>
    <div class="flex-container">
      <img src="imgs/woman-holding-parrot.png" alt="" />
    </div>
  </div>
</section>
