<section class="reviews dark-background flex-container">
  <div class="text-align-center container">
    <h2>What parrot owners are saying about BeakBox</h2>
  </div>
  <div class="centering">
    <img src="imgs/review-badge.png" alt="" />
  </div>
  <div class="main-container layout-grid">
    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Clever little boredom breaker</h3>
        <p>
          My macaw absolutely loves his BeakBox. It gives him something interesting to do whilst I'm away from him and it enables me to really stimulate his cage play in different ways. Super easy to
          set up/down and virtually bombproof if set up correctly. My boy goes nuts trying to switch between the different sounds and it keeps him amused for ages! Highly recommend this gadget for any
          sized bird; they'll thank you for it. 😂
        </p>
        <cite>- Rachel M.</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Brilliant bird toy and a gorgeous product!!</h3>
        <p>
          This toy allows your bird to entertain themselves while you're out!! Need I say more?? You can program any songs, recordings, bird sounds, anything you like!! It's also extremely easy for
          the bird to learn to use it! Not only is this an amazing bird toy, but the work the creators put in the toy's design is absolutely stunning. This product is a beautiful, functional piece of
          art you and your bird will both enjoy! 
        </p>
        <cite>- Camille</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Excellent</h3>
        <p>
          I recently ordered a large BeakBox for my African Grey Congo and it is an amazing device. Within a short timeframe we ordered a second large one for my Timneh. We just got the second one and
          we will be installing it in his cage tomorrow. Now I am waiting for the minis to restock. I plan on getting two minis for my greencheek conures. All bird toys should have this kind of
          stimulation. Wonderfully manufactured! Great Entertainment! We absolutely love them! Amazing job!
        </p>
        <cite>- Renee</cite>
      </blockquote>
    </div>

    <div class="grid-ite">
      <blockquote class="blockquote-box">
        <h3>Amazing musical toy</h3>
        <p>
          Great toy for birds who may be bored while their owners are away. The toy is simple to use and not intimidating. The best part is adding your own music for your birds to listen to. Easy set
          up and plug in which is a plus!
        </p>
        <cite>- OMPB</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Chilli Entertained by Beakbox</h3>
        <p>
          Chilli my African Grey found the BeakBox great, he triggers it to entertain himself, and waits for a response from someone (good boy), this has stopped the periodic squawking (he didn't do
          it a lot, but hardly does it anymore now). We have only just started adding in extra songs/saying we want him to say after waiting to see how he reacted to it initially! he's picked up the
          chirping from it loves that sound!
        </p>
        <cite>- Alister G.</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Absolute winner</h3>
        <p>We love this and what's more so does our Macaw. Its indestructible, he loves the music and is great for him while we are at work. 10/10</p>
        <cite>- Regina A.</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>A new way to have fun!</h3>
        <p>
          The BeakBox has been so fun to introduce our bird to. It's such a different type of toy for her to be able to activate and play with. We have it near one of her favorite foraging toys and
          it's fun to see her start some jams and then go back to foraging.
        </p>
        <cite>- Julia</cite>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Great for in-cage training & communicating with me!</h3>
        <p>
          Saro can be a little bit of a wildcard with guests, so we like to have people who are just getting to know her train her while she's in the cage until they've established trust and she's
          accepted them into the flock. I trained her to turn on the BeakBox for a reward, and it's a favorite activity with visitors to have them train her using the BeakBox! 
        </p>
        <footer><cite>- Hannah</cite></footer>
      </blockquote>
    </div>

    <div class="grid-item">
      <blockquote class="blockquote-box">
        <h3>Christmas present for my brother</h3>
        <p>
          This was a present for my brother, who has a cockatiel named 2Lip. We're extremely impressed at the quality of the product and the care the company took to preload the memory card with such
          a variety of music!!! 2Lip loves his BeakBox and sings along every time!!
        </p>
        <footer><cite>- Tiffany a.</cite></footer>
      </blockquote>
    </div>
  </div>
</section>
