header.article-header {
  background: none;

  h1 {
    font-size: 3.8rem;
  }
}

article p img {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 2px 2px -2px;
}

section.blog-posts,
section.blog-post {
  width: 70rem;
  margin: 0 auto;
  padding: 5rem 2rem 2rem;

  .nav-and-share {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .share {
      display: flex;
      align-items: center;

      a {
        border-bottom: none;
      }

      div {
        margin-left: 1rem;
        > span > iframe {
          margin: 0 1.5rem;
        }
      }

      img {
        margin: 0 0.5em;
        width: 3rem;
      }
    }
  }

  > article {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid $cold-purple;
    color: $east-bay-opacity;
    h1 {
      text-align: left;
    }

    h2 {
      font-size: 3.4rem;
      margin-top: 6rem;
      line-height: 4rem;
      margin: 5rem 0 2.5rem;
    }

    h2 a {
      color: inherit;
      border-bottom: none;
    }

    h3 {
      font-size: 2.2rem;
      line-height: 3.4rem;
      font-weight: 700;
      margin: 3.5rem 0 2rem;
      font-weight: 400;
    }

    h5 {
      font-size: 1.2rem;
      font-weight: 400;
      color: #333;
    }

    header {
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $white-smoke;

      h1 {
        margin: 0.25em 0;
        line-height: 1.2;
      }

      a {
        font-size: 2.8rem;
        border-bottom: none;
      }

      > .date {
        font-size: 1.5rem;
        color: $east-bay;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  nav {
    display: flex;
    justify-content: center;

    a.button {
      margin: 2rem;
      width: 16rem;
    }

    span {
      display: none;
    }
  }

  @media only screen and (max-width: 854px) {
    width: 100%;
    padding: 0 0 2rem;

    ul,
    ol {
      padding-left: 2rem;
    }

    nav {
      padding: 0 1rem;

      a.button {
        width: 10rem;
      }
    }
  }
}

section.blog-post {
  padding: 0 2rem 2rem;
  .nav-and-share {
    margin-bottom: 5rem;
  }

  > article {
    border-bottom: none;
  }

  @media only screen and (max-width: 854px) {
    padding: 0 0 2rem;
    .nav-and-share {
      flex-wrap: wrap;
      height: 5rem;
      > div {
        width: 100%;
      }
    }
  }
}

.blog-mailchimp {
  width: 100%;
  margin: 5rem 0 0;
  padding: 0;

  div.mailchimp-form {
    input.button {
      background-color: $east-bay;
      border-color: $east-bay;
    }

    input.button:hover {
      background-color: $white;
      color: $east-bay;
    }
  }
}
