//* Blog home page *//
.blog {
  --min: 30ch;
  --gap: 5rem;

  article {
    margin-left: auto;
    margin-right: auto;
  }
}

.article-header {
  a {
    text-decoration: none;
    color: inherit;
  }

  .date {
    font-size: 14px;
    padding-top: 2vh;
  }
}

.article-title {
  font-size: var(--font-size-h3);
  font-weight: 600;
}

//* Blog articles *//
.post-container article {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: calc(100% - 2rem);
  max-width: 70ch;

  blockquote {
    background: #ededff;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    margin: 4rem 0;
    p {
      color: #1b1ba0;
    }
  }

  article {
    max-width: 65ch;
  }
}
