article {
  padding: 1rem 0;
}

article p img {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 2px 2px -2px;
}

blockquote {
  padding: 0.5rem 1.5rem;
  margin: 2rem 0;
  border-image: linear-gradient(to bottom, var(--color-accent-1), var(--color-accent-2)) 1;
  border-width: 0 0 0 7px;
  border-style: solid;
  background-color: var(--color-tertiary);
  position: relative;
}

.date {
  font-size: var(--font-size-lg);
  margin-top: 3rem;
}

section.blog-posts,
section.blog-post {
  margin: 0 auto;
  padding: 5rem 2rem 2rem;

  img {
    width: 100%;
  }

  .nav-and-share {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .share {
      display: flex;
      align-items: center;

      a {
        border-bottom: none;
      }

      div {
        margin-left: 1rem;
        > span > iframe {
          margin: 0 1.5rem;
        }
      }

      img {
        margin: 0 0.5em;
        width: 3rem;
      }
    }
  }

  > article {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }

  &:last-child {
    border-bottom: none;
  }
}

nav {
  display: flex;
  justify-content: center;

  a.button {
    margin: 2rem;
  }

  span {
    display: none;
  }
}

@media only screen and (max-width: 854px) {
  ul,
  ol {
    padding-left: 2rem;
  }

  nav {
    padding: 0 1rem;
  }
}

section.blog-post {
  padding: 0 2rem 2rem;
  .nav-and-share {
    margin-bottom: 5rem;
  }

  > article {
    border-bottom: none;
  }

  @media only screen and (max-width: 854px) {
    padding: 0 0 2rem;
    .nav-and-share {
      flex-wrap: wrap;
      height: 5rem;
      > div {
        width: 100%;
      }
    }
  }
}
