.page-help {
  .layout-grid li {
    list-style: disk;
  }

  article li > img {
    margin: 2rem auto;
  }

  article > img {
    height: auto;
    max-width: 100%;
  }
}

.popular-questions,
.shipping-info {
  border-radius: 1rem;
  padding: clamp(3rem, 1rem + 5vw, 5rem);
}
