.page-help {
  section {
    ul.quick-links {
      list-style: none;
      li {
        margin-left: 0;
      }
    }
  }

  .notecard {
    padding: 0.5rem 1.5rem;
    margin: 2rem 0;
    border-image: linear-gradient(to bottom, var(--color-accent-1), var(--color-accent-2)) 1;
    border-width: 0 0 0 7px;
    border-style: solid;
    background-color: var(--color-tertiary);
    position: relative;

    p {
      color: var(--color-notecard-bg);
    }
  }

  details summary > * {
    display: inline;
  }

  details > summary {
    cursor: pointer;
    padding: 1.2rem 1rem;
  }

  details > div {
    border: 2px solid #fdb;
    margin-top: 0;
    padding: 1rem;
  }

  summary {
    padding-bottom: 1em;
  }

  details {
    margin-bottom: 1.5rem;
  }
}
