.page-how-it-works {
  .half-screen-image-background {
    > .image-container {
      background-image: url(/imgs/diagram.gif);
      background-size: 15rem;
    }

    > div {
      padding: 0 6rem 0 2rem;
      @media only screen and (max-width: 854px) {
        padding: 0;
      }
    }
  }

  .fraggle-image {
    > .image-container {
      background-image: url(/imgs/fraggle.jpg);
      background-size: cover;
      width: 50%;
      max-width: 50%;

      @media only screen and (max-width: 854px) {
        width: 100%;
        max-width: 100%;
      }
    }

    > div {
      padding: 0 2rem 0 6rem;
      width: 50%;

      @media only screen and (max-width: 854px) {
        width: 100%;
        padding: 0;
      }
    }
  }

  .how-it-works {
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background-image: url("/imgs/split-view.jpg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      background-size: contain;
      padding: 4rem 0;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 20rem;

        ul {
          margin: 1.5rem 0 0 3rem;
        }

        h2,
        h3 {
          margin: 0 0 0 2rem;
        }
      }

      > div.right-side {
        h2,
        h3 {
          margin: 0 2rem 0 0;
          text-align: right;
        }

        ul {
          margin: 1.5rem 3rem 0 0;
        }
      }
    }
  }

  //* Specs section *//

  .specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f2f4;
    padding: 5rem 0;

    video {
      width: 30rem;
      height: 30rem;
    }
  }

  @media only screen and (max-width: 640px) {
    .specs {
      video {
        width: 20rem;
        height: 20rem;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    .how-it-work {
      > div:first-child > div {
        justify-content: flex-start;
      }
      > div:first-child {
        background-size: 12rem;
        background-position-y: center;
      }
    }
  }
}

//* Safety section*//

.safety {
  h2 {
    margin: 0;
    min-height: 2.3rem;
    text-align: center;
    font-size: 2.3rem;
  }

  p {
    text-align: center;
  }

  //*Safety card container*//
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 1.5rem 0;
    background-color: var(--color-secondary-light);

    /*Safety cards (3 horizontal cards each containing image, heading and short list)*/
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 33rem;
      align-self: flex-start;
      align-items: center;
      padding: 2rem;

      @include breakpoint-up("large") {
        max-width: 33rem;
        margin: 2rem;
      }
    }

    > div > img {
      width: 9rem;
      padding: 1rem;
      max-height: 7rem;
    }
    > div > div {
      margin: 1rem 0.2rem 0.2rem 0.2rem;
      border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  @media only screen and (max-width: 854px) {
    > div {
      background-color: white;
    }

    > div > div {
      height: 29rem;
      background-color: var(--color-secondary-light);
    }

    > div > div > img {
      width: 7rem;
    }
  }

  @media only screen and (max-width: 640px) {
    > div {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 640px) {
  .how-it-works {
    display: none;
  }
}
