.page-how-it-works {
  .half-screen-image-background {
    margin: 5rem auto;

    > .image-container {
      background-image: url(/imgs/diagram.gif);
      background-size: 15rem;
    }

    > div {
      padding: 0 6rem 0 2rem;
      @media only screen and (max-width: 854px) {
        padding: 0;
      }
    }
  }

  .fraggle-image {
    margin: 10rem auto;

    > .image-container {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), #ffffff), url(/imgs/fraggle.JPG);
      background-size: cover;
      width: 50%;
      max-width: 50%;

      @media only screen and (max-width: 854px) {
        width: 100%;
        max-width: 100%;
      }
    }

    > div {
      padding: 0 2rem 0 6rem;
      width: 50%;

      @media only screen and (max-width: 854px) {
        width: 100%;
        padding: 0;
      }
    }
  }

  .how-it-works {
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background-image: url("/imgs/split-view.jpg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      background-size: contain;
      padding: 4rem 0;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 20rem;

        ul {
          margin: 1.5rem 0 0 3rem;
        }

        h2,
        h3 {
          margin: 0 0 0 2rem;
        }
      }

      > div.right-side {
        h2,
        h3 {
          margin: 0 2rem 0 0;
          text-align: right;
        }

        ul {
          margin: 1.5rem 3rem 0 0;
        }
      }
    }

    @media only screen and (max-width: 640px) {
      > div {
        background-image: url(/imgs/split-view.jpg);
        background-size: 20rem;
        padding: 13rem 0 0 0;
        min-height: 10rem;
      }
    }
  }

  //* Specs section *//

  .specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f2f4;
    padding: 5rem 0;

    video {
      width: 30rem;
      height: 30rem;
    }
  }

  @media only screen and (max-width: 640px) {
    .fraggle-image {
      margin: 6rem auto;
    }

    .specs {
      video {
        width: 20rem;
        height: 20rem;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    .how-it-work {
      > div:first-child > div {
        justify-content: flex-start;
      }
      > div:first-child {
        background-size: 12rem;
        background-position-y: center;
      }
    }
  }
}

//* Safety card container *//

.safety {
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 5rem;

    // *Safety cards (3 horizontal cards each containing image, heading and short list) *//
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;
      align-items: center;
      padding: 2rem;

      @include breakpoint-up("large") {
        margin: 0 3rem;
      }
    }

    > div > img {
      height: 8rem;
      width: 8rem;
      padding: 0.5rem;
      border-radius: 8rem;
      background-color: var(--color-tertiary);
    }

    > div > div {
      margin: 1rem 0.2rem 0.2rem 0.2rem;
      border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  @media only screen and (max-width: 854px) {
    > div > div {
      height: 27rem;
    }

    > div > div > img {
      height: 5rem;
      width: 5rem;
    }
  }

  @media only screen and (max-width: 640px) {
    > div {
      flex-direction: column;
    }
  }
}
