---
title: Interactive & Safe Musical Parrot Toys
metaTitle: "BeakBox: "
description: Keep your parrots entertained with 100% safe, fun, and easy-to-use musical toys for pet parrots. Made for parrots of all sizes - from Budgies to Macaws.
thumbnail: /imgs/webpage.png
heading: Interactive and Fun
boldedHeading: Musical Bird Toy
subheading: Transform your bird's cage into an enriched and interactive playground!
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T7WKD3D");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "297295141173249");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img height="1" width="1" style="display: none" src="https://www.facebook.com/tr?id=297295141173249&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Mailchimp Code -->
    <script id="mcjs">
      !(function (c, h, i, m, p) {
        (m = c.createElement(h)), (p = c.getElementsByTagName(h)[0]), (m.async = 1), (m.src = i), p.parentNode.insertBefore(m, p);
      })(document, "script", "/scripts/local-mcjs-connected.js");
    </script>

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- End Netlify CMS Code-->

    <title>{{ metaTitle }}{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="BeakBox" />
    <meta property="og:title" content="{{ title }}{{ metaTitle }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ thumbnail }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fb835f" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    {% if page.fileSlug == "help" %} {% include faq-schema.html %} {% endif %}
  </head>

  <body class="{% bodyClass page.fileSlug %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7WKD3D" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <nav class="dark-bg">
        <input type="checkbox" />
        <label>&equiv;</label>
        <a class="home-button" href="/" aria-label="BeakBox Home page">
          <img class="clickable" alt="Logo" src="/imgs/title.svg" />
        </a>
        <ul>
          <li>
            <a class="nav-menu" href="/about-us/">About Us</a>
          </li>
          <li>
            <a href="/how-it-works/">How It Works</a>
          </li>
          <li>
            <a href="https://shop.mybeakbox.com/pages/review">Reviews</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/help/">Help & FAQ</a>
          </li>
          <li>
            <a href="https://shop.mybeakbox.com" class="shop-nav">
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="store" class="svg-inline--fa fa-store fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 616 512">
                <path
                  fill="currentColor"
                  d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-29.6 47.2-10 110.6 38 130.8v227.4c0 19.4 14.3 35.2 32 35.2h448c17.7 0 32-15.8 32-35.2V249.4c48-20.2 67.6-83.6 38-130.8zM516 464H100v-96h416zm-.2-144.2H100v-64.7c24-3.3 45.1-15.2 60.3-32.2 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 15.3 17 36.3 28.9 60.3 32.2zm47.9-133c-3.2 6.8-10.9 18.6-27 20.8-2.4.3-4.8.5-7.2.5-14.7 0-28.2-6.1-38.1-17.2L455.7 151 420 190.8c-9.9 11.1-23.5 17.2-38.1 17.2s-28.2-6.1-38.1-17.2L308 151l-35.7 39.8c-9.9 11.1-23.5 17.2-38.1 17.2-14.7 0-28.2-6.1-38.1-17.2L160.3 151l-35.7 39.8c-9.9 11.1-23.5 17.2-38.1 17.2-2.5 0-4.9-.2-7.2-.5-16-2.2-23.8-13.9-27-20.8-5-10.8-7.1-27.6 2.3-42.6L114.8 48h386.3l60.2 96.1c9.5 15.1 7.5 31.9 2.4 42.7z"
                ></path>
              </svg>
              Shop
            </a>
          </li>
        </ul>
      </nav>
      {% if page.fileSlug == "" %} {% include header-home.html %} {% elsif page.fileSlug =="404"%} {% else %} {% include header.html %} {% endif %}
    </header>

    <main>{{ content | safe }}</main>
    <footer class="footer">
      <a class="footer__logo" href="/">
        <img src="/imgs/logo-no-text.png" alt="BeakBox mascot" />
      </a>

      <div class="footer__socials">
        <a href="https://www.facebook.com/mybeakbox" aria-label="Visit us on Facebook."><img src="/imgs/fb.svg" alt="Facebook" /></a>
        <a href="https://www.instagram.com/beak.box" aria-label="Visit us on Instagram."> <img src="/imgs/insta.svg" alt="Instagram" /></a>
        <a href="https://www.youtube.com/channel/UC52Hn9oBjDt89ZmaHnQfnVQ" aria-label="Visit us on YouTube."> <img src="/imgs/youtube.svg" alt="YouTube" /></a>
        <a href="https://twitter.com/mybeakbox" aria-label="Visit us on Twitter."> <img src="/imgs/twitter.svg" alt="Twitter" /></a>
      </div>

      <div class="footer__links col1">
        <p>Support</p>
        <a href="https://shop.mybeakbox.com/policies/shipping-policy">Shipping & Delivery</a>
        <a href="https://shop.mybeakbox.com/pages/returns-and-refunds">Returns & Refunds</a>
        <a href="/help/">Help & FAQ</a>
        <a href="mailto:contact@mybeakbox.com" aria-label="Send us an email!">Contact Us</a>
      </div>

      <div class="footer__links col2">
        <p>Discover</p>
        <a href="/about-us/">Our Story</a>
        <a href="https://shop.mybeakbox.com/pages/review">Reviews</a>
        <a href="/blog/">Blog</a>
        <a href="/policies/">Policies</a>
      </div>

      <div class="footer__copyright">
        <p>Made in New Zealand</p>
        <img src="/imgs/kiwi-footer.svg" alt="Kiwi bird" />
        <div>BeakBox © 2022. All rights reserved</div>
      </div>
    </footer>

    <script src="/scripts/main.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
