---
title: Interactive and Safe Musical Parrot Toys
metaTitle: "BeakBox: "
description: Keep your parrots entertained with 100% safe, fun, and easy-to-use musical toys for pet parrots. Made for parrots of all sizes - from Budgies to Macaws.
thumbnail: /imgs/webpage.png

subheading: BeakBox is a unique musical bird toy that gives your birds freedom to listen to music whenever they want.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T7WKD3D");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "297295141173249");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img height="1" width="1" style="display: none" src="https://www.facebook.com/tr?id=297295141173249&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Mailchimp Code -->
    <script id="mcjs">
      !(function (c, h, i, m, p) {
        (m = c.createElement(h)), (p = c.getElementsByTagName(h)[0]), (m.async = 1), (m.src = i), p.parentNode.insertBefore(m, p);
      })(document, "script", "/scripts/local-mcjs-connected.js");
    </script>

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- End Netlify CMS Code-->

    <title>{{ metaTitle }}{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="BeakBox" />
    <meta property="og:title" content="{{ title }}{{ metaTitle }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ thumbnail }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fb835f" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />

    {% if page.fileSlug == "help" %} {% include faq-schema.html %} {% endif %}
  </head>

  <body class="{% bodyClass page.fileSlug %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7WKD3D" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <nav class="main-nav main-container">
        <input id="menu-toggle" type="checkbox" />
        <a href="/" class="main-nav__logo">
          <img src="/imgs/logo.svg" alt="Logo" />
        </a>

        <label for="menu-toggle" class="main-nav__menu">
          <span></span>
          <span></span>
          <span></span>
          <div>Menu</div>
        </label>

        <div class="main-nav__links">
          <a href="/about-us/">Our story</a>
          <a href="/how-it-works/">How it works</a>
          <a href="/help/">Help</a>
          <a href="/blog/">Blog</a>
          <a href="https://shop.mybeakbox.com/" class="button">Shop</a>
        </div>
      </nav>

      {% if page.fileSlug == "" %} {% include header-home.html %} {% elsif layout == "blog.html" %} {% include header-blog.html %} {% elsif page.fileSlug != "404" %} {% include header.html %} {% endif
      %}
    </header>

    <div class="divider-container-bottom ">
      <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2678.5 180">
        <path
          d="M0,0H2678.5V180l-18.64-6c-18.14-6-55.82-18-92.69-42-37.28-24-74.76-60-111.84-72-37.28-12-74.46,0-111.84,0s-74.25-12-111.84-21c-37.28-9-74.05-15-110.83-15s-74.76,6-111.84,12c-37.28,6-74.56,12-111.84,15s-74.36,3-111.84,21c-37.28,18-74.05,54-110.83,72-37.28,18-74.86,18-111.84,9-37.28-9-74.66-27-111.84-45-37.28-18-74.36-36-111.84-36s-74.15,18-111.84,39c-36.27,21-73.95,45-110.83,48-37.28,3-74.76-15-111.84-15s-74.46,18-111.84,3c-37.28-15-74.25-63-111.84-63s-74.05,48-110.83,48-74.76-48-111.84-75c-37.28-27-74.56-33-111.84-9-37.28,24-74.36,78-111.84,99-37.28,21-74.05,9-110.83,0-37.28-9-74.86-15-111.84-24-37.28-9-74.66-21-93.2-27L0,90V0Z"
          fill="#3a2d76"
        />
      </svg>
    </div>

    <main>{{ content | safe }}</main>

    {% include footer.html %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
