* {
  line-height: calc(10px + 2ex);
}

*,
::before,
::after {
  box-sizing: border-box;
}

// html,
// body {
//   height: 100%;
// }

body,
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: var(--color-text);
  font-size: var(--font-size-lg);
}

img:not(.main-nav *, .footer *, .blog-posts *),
svg:not(.main-nav *, .footer *, .blog-posts *) {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

a {
  text-decoration: none;
  color: inherit;
}

%center-column {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li + li {
  margin-top: 2rem;
}

::marker {
  color: var(--color-red);
}

//* Focus set up *//

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: dashed;
  --outline-color: currentColor;
  --outline-offset: 0.5em;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary, [type="submit"]):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

//* Focus customisations *//

header a,
header .button,
.newsletter input,
footer a {
  --outline-color: white;
}

.newsletter button[type="submit"] {
  --outline-color: black;
  --outline-offset: 0.2em;
  --outline-size: 2px;
}

//* Reduce motion styles *//

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
