* {
  line-height: calc(10px + 2ex);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  font-size: var(--font-size-lg);
  overflow-x: hidden;
}

img:not(.dark-bg *, .footer *, .blog-posts *),
svg:not(.dark-bg *, .footer *, .blog-posts *) {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  margin: 5rem 0 0;
  flex-grow: 1;
}

%center-column {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.header *, .footer *, .dark-bg *, .share *, .article-header *, .articles *, h2 *) {
  color: inherit;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

a:not(.button, .header *, .footer *, .dark-bg *, .share *, .article-header *, .articles *, h2 *):hover {
  opacity: 0.7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li + li {
  margin-top: 2rem;
}

::marker {
  color: var(--color-red);
}

*:focus {
  outline: 3px dashed #000;
  outline-offset: 2px;
}
