* {
  line-height: calc(10px + 2ex);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: var(--color-primary);
  font-size: var(--font-size-text);
}

img:not(.main-nav *, .icons, .footer *, .blog-posts *),
svg:not(.main-nav *, .icons, .footer *, .blog-posts *) {
  display: block;
  max-width: 100%;
  border-radius: 1rem;
}

//* Inherit fonts for inputs and buttons *//
input,
button,
textarea,
select {
  font: inherit;
}

a:not(.button, .main-nav, .hero, .footer) {
  color: currentColor;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.2em;
}

.main-nav a,
.footer a {
  text-decoration: none;
}

.main-nav a:hover:not(.button),
.footer a:hover:not(.button) {
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.2em;
}

//* Prevent default margin *//
blockquote,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

//* Help prevent overflow of long words/names/URLs //
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

::marker {
  color: var(--color-marker);
}

//* Reduce motion styles *//

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
