.button,
button {
  --button-background: var(--color-secondary);
  --button-color: var(--color-on-secondary);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3rem;
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-alt {
  --button-background: var(--color-alt);
  --button-color: var(--color-on-alt);
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;

  a.button {
    margin: 0 0.5rem;
  }
}
