.button,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.25em 1em;
  transition: 180ms ease-in-out;
  transition-property: background, border;
  border: 2px solid var(--color-cta-border);
  border-radius: 3rem;
  background-color: #f7ad00;
  color: var(--color-cta-text);
  font-size: var(--font-size-md);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
button:hover {
  box-shadow: 5px 5px 0 -2px var(--color-secondary), 5px 5px 0 0 var(--color-cta-border);
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;

  a.button {
    margin: 0 0.5rem;
  }
}
