@import "mixins";

.footer {
  background-color: var(--color-primary-darker);
  color: white;
  padding: 4rem 0;

  .layout-grid {
    --min: 20ch;
  }

  ul li p {
    text-transform: uppercase;
  }

  img {
    width: 3rem;
  }

  a,
  .copyright {
    color: #c1b8eb;
  }

  .row {
    --gap: 9.5rem;
  }

  .copyright a,
  .copyright p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .copyright {
    margin-top: 4rem;
  }

  .socials {
    --gap: 2rem;
    --justify-content: flex-start;
  }


}
