@import "mixins";

.footer {
  color: var(--color-text);
  padding: 10rem 0;
  text-align: center;

  @include breakpoint-up("large") {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "logo links1 links2 copyright"
      "socials links1 links2 copyright";
  }

  img {
    width: 20%;
    height: auto;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 1em;

    @include breakpoint-up("medium") {
      margin-bottom: 1em;
      align-self: end;
    }

    @include breakpoint-up("large") {
      align-self: end;
      grid-area: logo;
    }

    img {
      @include breakpoint-up("medium") {
        width: 15%;
      }
      @include breakpoint-up("large") {
        width: 10%;
      }
    }
  }

  &__socials {
    align-self: center;
    a:not(:last-child) {
      margin-right: 0.8rem;
    }

    @include breakpoint-up("medium") {
      align-self: start;
    }

    @include breakpoint-up("large") {
      grid-area: socials;
    }

    img {
      @include breakpoint-up("medium") {
        width: 5%;
      }
      @include breakpoint-up("large") {
        width: 10%;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      font-weight: var(--font-weight-xlight);
    }

    p {
      font-weight: var(--font-weight-medium);
    }

    &.col1 {
      @include breakpoint-up("large") {
        grid-area: links1;
      }
    }

    &.col2 {
      @include breakpoint-up("large") {
        grid-area: links2;
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up("large") {
      grid-area: copyright;
    }

    img,
    div {
      margin-top: 2em;
      @include breakpoint-up("medium") {
        margin-top: 0;
      }
    }

    div {
      font-weight: var(--font-weight-xlight);

      @include breakpoint-up("medium") {
        margin-top: 1.2em;
      }

      @include breakpoint-up("large") {
        margin-top: auto;
      }
    }

    img {
      @include breakpoint-up("medium") {
        width: 10%;
      }

      @include breakpoint-up("large") {
        width: 15%;
        margin: auto;
      }

      @include breakpoint-up("xlarge") {
        width: 7%;
        margin: auto;
      }
    }
  }
}
