$grid-columns: 12 !default;
$grid-maxwidth: 44.375em !default;
$gap: 2.18 !default;
$grid-gap: 1.5em #{$gap} !default;
$support: "(display: grid)";
$size-small: 30em !default;

.grid {
  @extend .clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: $grid-maxwidth;
  > * {
    display: block;
    width: 100%;
    @media screen and (min-width: $size-small) {
      display: inline-block;
      float: left;
      width: (100% / $grid-columns);
      &:not(:last-child) {
        margin-right: #{$gap}#{"%"};
      }
    }
  }

  @supports (#{$support}) {
    display: grid;
    grid-template-columns: 1fr;
    gap: #{$grid-gap}vh;
    &::after {
      display: none;
    }
    @media screen and (min-width: $size-small) {
      grid-template-columns: repeat($grid-columns, 1fr);
      gap: #{$grid-gap}#{"%"};
    }
    > * {
      display: block;
      margin-right: 0;
      width: auto;
    }
  }
  @media screen and (min-width: $size-small) {
    @for $i from 1 through $grid-columns {
      > .col-#{$i} {
        width: (100% / $grid-columns) * $i - $gap;
        grid-column-end: span #{$i};
      }

      > .col-start-#{$i} {
        margin-left: (100% / $grid-columns) * $i - (100% / $grid-columns);
        + [class*="col-start"] {
          margin-left: 0;
        }
      }
      @supports (#{$support}) {
        > .col-#{$i} {
          width: auto;
        }
        > .col-start-#{$i} {
          grid-column-start: #{$i};
          margin-left: 0;
        }
      }
    }
  }
}
