@import "mixins";

.hero {
  padding: 6rem 0;

  .container {
    @include breakpoint-up("large") {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/imgs/header-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 35rem;

    @include breakpoint-up("large") {
      flex: 3;
      order: 2;
      height: 49rem;
      margin-left: 3rem;
    }
  }

  &__text {
    text-align: center;
    padding: 0 2rem;

    @include breakpoint-up("large") {
      flex: 2;
      order: 1;
      text-align: left;
      padding: 0;
    }

    h1 {
      font-size: var(--font-size-3xl);

      @include breakpoint-up("large") {
        font-size: var(--font-size-5xl);
        padding: 0;
      }
    }

    p {
      color: var(--color-text-on-primary);
    }
  }

  &__cta {
    @include breakpoint-up("large") {
      margin: 6.5rem 0 0;
    }
  }
}
