body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  --container-width: 115ch;
  --container-gutter: 2rem;

  width: min(var(--container-width), 100% - var(--container-gutter));
  margin-inline: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;

  &--narrow {
    --container-width: 80ch;
  }

  &--align-center {
    align-items: center;
  }

  &--align-flex-start {
    align-items: flex-start;
  }
}

section:not(.newsletter, .hero) {
  padding: 14vh 1rem 0;
}

//* Grid layout *//
.layout-grid {
  --min: 25ch;
  --gap: 4rem;

  display: grid;
  grid-gap: var(--gap);
  //* min() with 100% prevents overflow in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

//* Flex layout *//
.flex-container {
  --gap: 3rem;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &--center-content {
    text-align: center;
    align-items: center;
    // justify-content: center;
  }

  &--row {
    flex-direction: row;
  }

  &--row-gap {
    --gap: 6rem;
  }
}

//* Flex direction changes from row to column on smaller screens

.flex-container-collapse {
  --gap: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}

@include breakpoint-up("large") {
  .flex-container-collapse {
    flex-direction: row;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);

  &--centered {
    align-self: center;
  }

  &--center-items {
    align-items: center;
  }
}

.flex:has(.numbers) {
  margin-bottom: 2rem;
}

.no-gap {
  --gap: 0;
}

//* Article styles *//
article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1em;
    }
  }

  * {
    + h2 {
      margin-top: 2em;
    }

    + h3 {
      margin-top: 1.5em;
    }
  }

  p {
    margin-top: 1.15em;
  }

  ul li,
  ol li {
    list-style: disk;
  }
}

//* Accordion styles
details {
  padding: 1.5rem 0;
  border-bottom: 2px dashed var(--color-border);
}

details:last-of-type {
  border-bottom: none;
}

details summary > * {
  display: inline;
}

details > summary {
  cursor: pointer;
  padding: 1.2rem 1rem;
  color: var(--color-summary);
  font-weight: var(--font-weight-bold);
}

//* Snippet

.banner {
  border-radius: 1rem;
  padding: clamp(3rem, 1rem + 5vw, 5rem);
}

//* Table styles

th,
td {
  padding: 1rem;
  color: var(--brown-400);
}

td,
th {
  text-align: center;
}

td:first-of-type {
  text-align: left;
  padding: 1rem 2rem;
}

table td,
table th {
  border: 1px solid var(--orange-300);
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.margin-bottom {
  margin-bottom: 10rem;
}
