.newsletter {
  padding: 8rem 0;
  border-bottom: 2px dashed #6f61b8;

  img {
    width: 3rem;
  }
}

#mc_embed_signup {
  background-color: #463889;
  border-radius: 14px;
  padding: 4rem;
}

.email-container {
  justify-content: center;

  .clear span {
    display: block;
    color: var(--color-on-primary);
    font-size: 14px;
    margin-top: 3rem;
  }

  label {
    color: var(--color-on-primary);
  }

  input[type="email"] {
    background-color: var(--color-on-primary);
  }

  #mc_embed_signup .mc-field-group {
    grid-gap: 0.8em;
    display: grid;
    width: 100%;
  }

  #mc_embed_signup div.mce_inline_error,
  .response #mce-error-response {
    background-color: #160856;
    color: #d12e2e;
    padding: 1rem;
    border-left: 3px solid #d12e2e;
  }

  .response #mce-success-response {
    color: #62b750;
    border-left: 3px solid #62b750;
  }
}
