@import "mixins";

.products {
  @include breakpoint-up("large") {
    width: 118rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    margin-top: 4rem;

    @include breakpoint-up("large") {
      grid-template-columns: repeat(3, 1fr);
      gap: 4.875rem;
    }
  }

  &__item {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;
    border-radius: 1rem;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 26rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item + &__item {
    margin-top: 4rem;
    @include breakpoint-up("large") {
      margin-top: 0;
    }
  }

  &__description {
    text-align: left;
    padding: 0 1rem;

    li {
      font-size: var(--font-size-md);
    }
  }

  &__cta {
    margin: 4rem;

    a.button {
      background-color: transparent;
    }
  }
}
