@import "mixins";

:root {
  --font-size-h1: 5.5rem;
  --font-size-h2: 3.5rem;
  --font-size-h3: 3.2rem;
  --font-size-h4: 1.6rem;
  --font-size-text-default: 1.8rem;
  --font-size-text-small: 1.4rem;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(4rem, 1rem + 5vw, var(--font-size-h1));
  letter-spacing: -0.1rem;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(3.8rem, 1rem + 5vw, var(--font-size-h2));
  letter-spacing: -0.1rem;
  color: #5c1900;
}

h3 {
  font-size: var(--font-size-h3);
  color: #5c1900;
}

h4 {
  font-size: var(--font-size-h4);
}

h3,
h4 {
  font-weight: var(--font-weight-bold);
}

p,
li {
  font-size: var(--font-size-text-default);
}

p {
  margin: 0 0 1rem;
  color: var(--brown-400);
  font-size: 2rem;
}

//* List styles *//
ul,
ol {
  list-style: none;
  padding: 0;
}

ul li:not(.flex-container) {
  padding-left: 1rem;
}
