@import "mixins";

:root {
  --font-size-h1: 5.5rem;
  --font-size-h2: 5.2rem;
  --font-size-h3: 2.6rem;
  --font-size-h4: 1.6rem;
  --font-size-text: 1.8rem;

  --font-weight-normal: 500;
  --font-weight-bold: 600;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(4rem, 1rem + 5vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(3.8rem, 1rem + 5vw, var(--font-size-h2));
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h3,
h4 {
  font-weight: var(--font-weight-bold);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

ul li {
  padding-left: 1rem;
}
