/* Logo/Primary Brand Colours */

$salmon: #fb835f;
$macaroni-and-cheese: #ffbe70;

//* Backgrounds/Text *//

$white-smoke: #ece8ff;
$east-bay: #483d77;
$cold-purple: #9594d8;
$titan-white: #f8f7ff;
$white: #ffffff;
$black: #000000;
$macaroni-and-cheese-light: #ffe6c8;
$amethyst-smoke: #9890bb;
$lightsteelblue: #bcb5dd;
$light-purple: #e0dcf3;
$pippin: #ffe4dc;
$purple: #4d0aca;
$east-bay-opacity: rgba(72, 61, 119);
$royal-blue: #6951dc;
$persimmonn: #fb6952;
$french-lilac: #f6e8f8;
$golden-tainoi: #fdc55f;
$grey: #9698a6;
$martinique: #2d314d;

//* Sign Up Form *//
$error-background: #f4afaf;
$error-border: #c10f0f;
$success-background: #89e1a0;
$success-border: #139115;
$response-text: rgba(0, 0, 0, 0.71);
