:root {
  //* text colors *//
  --color-text: hsl(0, 0%, 20%);
  --color-text-light: hsl(0, 0%, 40%);
  --color-text-on-primary: hsl(250, 55%, 85%);
  --color-text-on-primary-lighter: hsl(249.2, 65%, 92.2%);
  --color-text-on-secondary: #574944;
  --color-text-on-secondary-light: #6a5e5a;
  --color-text-on-secondary-dark: #1e0901;

  //* primary brand color *//
  --color-primary: hsl(261, 91%, 42%);
  --color-primary-light: hsl(250, 37%, 51%);
  --color-primary-lighter: hsl(250, 38%, 55%);

  --color-primary-dark: hsl(250, 42%, 38%);
  --color-primary-darker: hsl(251, 45%, 32%);

  //* secondary brand color *//
  --color-secondary: hsl(17, 97%, 63%);
  --color-secondary-light: hsl(17, 100%, 94%);
  --color-secondary-lighter: hsl(16, 100%, 97%);

  //* tertiary brand color *//
  --color-tertiary: hsl(262, 87%, 94%);
  --color-tertiary-dark: hsl(263, 100%, 92%);

  //* accent colors *//
  --color-accent: hsl(43, 93%, 59%);

  //* cta colors *//
  --color-cta-bg: var(--color-accent);
  --color-cta-border: hsl(43, 72%, 15%);
  --color-cta-text: hsl(43, 72%, 15%);

  //* link colors *//
  --color-link-blog: hsl(260.9, 89.8%, 46.3%);

  //* Newsletter form *//
  --color-error-background: #f4afaf;
  --color-error-border: #c10f0f;
  --color-success-background: #89e1a0;
  --color-success-border: #139115;
  --color-response-text: rgba(0, 0, 0, 0.71);
  --color-notecard-bg: #c34900;
  --color-red: #d93939;
}
