/* Non-printing */
@import "variables";

/* Vendor */
@import "vendor/normalize";

/* Shared */
@import "base";
@import "typography";
@import "hero";
@import "newsletter";
// @import "grids";
@import "header";
@import "footer";
@import "products";
@import "mixins";

/* Pages */
// @import "pages/home";
@import "pages/blog";
@import "pages/help";
@import "pages/thank-you";
@import "pages/contact";
@import "pages/policies";
@import "pages/how-it-works";
@import "pages/why-beakbox";
@import "pages/about-us";

/* ---------------------------------------------------- */
html {
  scroll-behavior: smooth;
  line-height: 1.3;
}

/* Buttons */
a.button,
input.button {
  position: relative;
  display: inline-block;
  padding: 1.875rem 3.188rem;
  background-image: linear-gradient(to right, $persimmonn, $purple);
  border: 0;
  border-radius: 3.125em;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  transition: opacity 1s ease-out;
  overflow: hidden;
  width: fit-content;
  margin: 2em 0;
  box-shadow: 0 4px 15px 0 rgba(77, 10, 202, 0.25);
}

a.transparent,
input.transparent {
  background-color: transparent;
  border: 2px solid $purple;
  color: $purple;
  background-image: none;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;

  a.button {
    margin: 0 0.5rem;
  }
}

.clickable {
  opacity: 0.8;
}

.clickable:hover {
  opacity: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-left: 2em;
}

li {
  margin: 2rem auto;

  ul > li {
    font-size: 1em;
  }
}

.spaced li {
  margin-bottom: 2.5rem;
  @media only screen and (max-width: 640px) {
    margin-bottom: 1.5rem;
  }
}

.no-indent li {
  margin-left: 0;
}

input {
  display: block;
}

input[type="email"] {
  width: 37rem;
  height: 6rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  border: none;
  background: #ffffff;
  border-radius: 3rem;

  @include breakpoint-up("large") {
    width: 50rem;
  }
}

p.center {
  text-align: center;
}

//* Styles for main element on each page *//
main {
  h1 {
    text-align: center;
  }

  article {
    padding: 1rem 0;
  }

  blockquote {
    border-radius: 0.5rem;
    border-left: 6px solid $salmon;
    margin: 0 0 1em;
    padding: 0.5em;
    background-color: $macaroni-and-cheese-light;
  }

  > p {
    margin-bottom: 5rem;
  }

  img,
  div.image-gradient-overlay {
    width: 100%;
    max-width: 100rem;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 80rem;
    max-width: 100%;
    margin: 5rem auto;

    > h2 {
      text-align: center;
    }

    iframe {
      width: 100%;
      height: 42rem;
      margin: 2rem auto;
    }

    .expandable-item {
      -webkit-transition: height 1s;
      -moz-transition: height 1s;
      -ms-transition: height 1s;
      -o-transition: height 1s;
      transition: height 1s;
    }

    .hidden {
      height: 0 !important;
      padding: 0;
      margin: 0;
    }

    .show-overflow {
      overflow: visible;
    }

    div.image-container {
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
    }

    img {
      width: 100%;
    }

    /* instruction gif tiles */
    div.instructions {
      display: flex;
      justify-content: center;
      margin: 2rem 0;

      > div {
        margin: 0 1rem;
        width: 8rem;
        height: 8rem;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $titan-white;
        border-radius: 9rem;
        border: 1px solid $salmon;
      }

      @media only screen and (max-width: 640px) {
        h3 {
          margin: 4.2rem auto 0 auto;
        }
        > div {
          width: 6rem;
          height: 6rem;
        }
      }
    }

    @media only screen and (max-width: 854px) {
      width: 60rem;

      iframe {
        height: 33rem;
      }
    }

    @media only screen and (max-width: 640px) {
      width: 40rem;
      margin: 1rem auto;
      padding: 2.1rem;

      iframe {
        height: 20rem;
      }
    }
  }

  section.full-width {
    min-width: 100%;
    padding: 0;
  }

  article,
  > p {
    @extend %center-column;

    @media only screen and (max-width: 854px) {
      padding: 2rem 5rem;
      margin: 0 0 2rem 0;
    }

    @media only screen and (max-width: 640px) {
      padding: 2rem 1rem;
      margin: 0;
    }
  }
}

//* Tiled images and text *//

.tiled-content {
  @include breakpoint-up("large") {
    width: 70%;
  }
  @include breakpoint-up("xlarge") {
    width: 40%;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin: 2rem 0 auto;
    text-align: center;
  }

  p {
    padding: 0 2rem;
    text-align: center;
  }

  .flex-row,
  .flex-reverse-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    padding: 3rem;
  }

  .flex-row {
    @include breakpoint-up("large") {
      flex-direction: row;
    }
  }

  .flex-reverse-row {
    @include breakpoint-up("large") {
      flex-direction: row-reverse;
      margin: 8rem 0;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include breakpoint-up("large") {
      max-height: 26rem;
      max-width: 42rem;
    }
  }

  @media only screen and (max-width: 640px) {
    margin: 3rem auto;
    padding: 0;

    h2 {
      font-size: 0.9em;
      margin: 0;
    }
  }
}

//* Element for text next to large image *//

.half-screen-image-background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    padding: 0 2rem 0 6rem;

    h2 {
      text-align: center;
    }

    h3:after {
      border-bottom: 1px solid $salmon;
      display: block;
      content: " ";
      width: 100%;
      margin-top: 2rem;
    }
  }

  > div.image-container {
    background-position: center;
    background-repeat: no-repeat;
    max-width: 25rem;
    height: 25rem;
  }

  @media only screen and (max-width: 854px) {
    width: 60rem;

    > div {
      max-width: 100%;
      padding: 0;
    }

    > div.image-container {
      min-width: 18rem;
      height: 18rem;
    }
  }

  @media only screen and (max-width: 640px) {
    width: 40rem;
  }
}

/* ----------------------------------------------------------------- Home Page */
.page-home {
  article > h2 {
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .half-screen-image-background {
      .image-container {
        background-image: url(/imgs/bbx3.jpg);
      }
    }

    > section:first-of-type {
      h2 {
        text-align: left;
      }

      > p {
        max-width: 100%;

        @include breakpoint-up("large") {
          max-width: 60%;
        }
      }

      .button-container {
        justify-content: center;

        @include breakpoint-up("large") {
          justify-content: flex-start;
        }
      }

      @include breakpoint-up("large") {
        background: url("/imgs/bbx3.jpg");
        background-repeat: no-repeat;
        background-size: 38rem;
        background-position-x: right;
        background-position-y: top;
      }
    }
  }
}

//* Safety section *//
.safety {
  h2 {
    margin: 0;
    min-height: 2.3rem;
    text-align: center;
    font-size: 2.3rem;
  }

  p {
    text-align: center;
  }

  //*Safety card container*//
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 1.5rem 0;
    background-color: $white-smoke;

    /*Safety cards (3 horizontal cards each containing image, heading and short list)*/
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 33rem;
      align-self: flex-start;
      align-items: center;
      padding: 2rem;

      @include breakpoint-up("large") {
        max-width: 33rem;
        margin: 2rem;
      }
    }

    > div > img {
      height: 8rem;
      width: 8rem;
      border-radius: 8rem;
      background-color: $cold-purple;
      border: 2px solid $white;
    }
    > div > div {
      margin: 1rem 0.2rem 0.2rem 0.2rem;
      border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  @media only screen and (max-width: 854px) {
    > div {
      background-color: $white;
    }

    > div > div {
      height: 27rem;
      background-color: $white-smoke;
    }

    > div > div > img {
      height: 5rem;
      width: 5rem;
    }
  }

  @media only screen and (max-width: 640px) {
    > div {
      flex-direction: column;
    }
  }
}

//* ---------------------------------------------------- REVIEWS *//
section.reviews {
  width: 100rem;

  a {
    border-bottom: none;
  }

  > h2 {
    margin-bottom: 5rem;
  }

  > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;

      > div.char {
        height: 7rem;
        width: 7rem;
        border-radius: 5rem;
        background-color: #4d0aca33;
        text-align: center;
        padding-top: 1.4rem;
        margin: 0;
        font-size: 3rem;
        font-weight: bold;
        box-shadow: 0 4px 15px 0 rgba(92, 71, 133, 0.25);
        color: $purple;
      }

      > div.stars {
        display: flex;
        justify-content: center;
        height: 3rem;
        width: 100%;

        > img {
          height: 3rem;
          width: 3rem;
        }
      }
    }

    @media only screen and (max-width: 854px) {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }
  }

  @media only screen and (max-width: 854px) {
    width: 60rem;
  }

  @media only screen and (max-width: 640px) {
    width: 40rem;
  }
}

/* ---------------------------------------------------- IMAGE GALLERY */
.image-gallery,
.image-gallery > div.gallery-content,
.image-gallery > div.gallery-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.gallery-thumbnails {
  @media only screen and (max-width: 640px) {
    overflow-x: scroll;
  }
}

.image-gallery {
  background-color: $white-smoke;
  padding: 5rem 0;

  > div.gallery-content,
  > div.gallery-thumbnails {
    flex-direction: row;
  }

  > div.gallery-content {
    justify-content: space-around;
    > div {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 40rem;
      height: 40rem;
      max-width: 80%;
      border: 5px solid white;
      border-radius: 5px;
    }

    @media only screen and (max-width: 640px) {
      max-width: 40rem;
      > div {
        height: 20rem;
      }
    }

    > img:first-of-type,
    > img:last-of-type {
      width: 6rem;
      height: 6rem;
      cursor: pointer;
    }
  }

  > .gallery-thumbnails > img {
    width: 5rem;
    margin: 0.2rem;
    border: 2px solid transparent;
    border-radius: 5rem;
    cursor: pointer;
  }

  > .gallery-thumbnails > img.selected-image {
    border-color: $east-bay;
  }
}

// Spacing

.container {
  max-width: 93.375rem;
  margin: 0 auto;
}

.container--padding-all {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

//Visibility

.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}

//YouTube videos

.youtube-player {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 4rem 0;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 8rem;
  width: 8rem;
  left: 50%;
  top: 50%;
  margin-left: -3.6rem;
  margin-top: -3.6rem;
  position: absolute;
  background: url("/imgs/play.png") no-repeat;
  cursor: pointer;
}

section.not-found {
  text-align: center;
  img {
    max-width: 30rem;
    margin: 0 auto;
  }
}

// Latest blog articles on home page
.articles {
  @include breakpoint-up("large") {
    width: 118rem;
  }
}

.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;

  @include breakpoint-up("medium") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-up("large") {
    grid-template-columns: repeat(4, 1fr);
    gap: 4.875rem;
  }
}

.article__content h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.article__item + .article__item {
  margin-top: 4rem;

  @include breakpoint-up("medium") {
    margin-top: 0;
  }

  @include breakpoint-up("large") {
    margin-top: 0;
  }
}

.article__item:hover {
  transform: scale(1.05);
}
.article__image {
  height: 18rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: $grey;

  @include breakpoint-up("medium") {
    padding: 1.875rem 1.5625rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.7rem;
  line-height: 1.2;
  color: $martinique;
  margin-bottom: 0.5rem;
}

.article__description {
  font-size: 1.3rem;
}
