/* Non-printing */
@import "variables";

/* Vendor */
@import "vendor/normalize";

/* Shared */
@import "base";
@import "typography";
@import "newsletter";
@import "buttons";
@import "header";
@import "footer";
@import "mixins";
@import "layout";
@import "card";

/* Pages */
// @import "pages/home";
@import "pages/blog";
@import "pages/help";
@import "pages/policies";
@import "pages/how-it-works";
@import "pages/about-us";

/* ---------------------------------------------------- */

.border {
  padding-bottom: 3vh;
  border-bottom: 1px solid #c4b8b4;
}

.blog-post {
  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
//* Product section *//

.value-props {
  background-color: #6454b1;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;

  .card-component {
    background-color: #6f60b7;

    h3 {
      color: white;
      margin-top: 2vh;
    }

    p {
      color: #ccc5ee;
    }

    img {
      border-radius: 1rem;
      border: 1px solid #9885f8;
    }
  }

  .main-container {
    --container-width: 100ch;
  }

  .layout-grid {
    --gap: 5rem;
  }
}

.products {
  background-color: #ffeae2;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;

  --min: 25ch;

  ul:nth-child(2) {
    align-items: center;
    justify-content: center;
  }

  .layout-grid {
    --gap: 4rem;
    gap: var(--gap);
  }

  .button {
    width: 100%;
  }

  &__icons {
    align-items: center;
    img {
      width: 3rem;
      height: 3rem;
    }

    p {
      text-transform: uppercase;
    }
  }
}

.benefits img {
  width: 8rem;
}

// Position //

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.container--padding-all {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

//* Inputs *//
input {
  display: block;
}

input[type="email"] {
  --border-radius: 3rem;

  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: inherit;
}

// Testimonials

//Visibility

.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down("medium") {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint-up("large") {
    display: none;
  }
}

//YouTube videos

.youtube-player {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 8rem;
  width: 8rem;
  left: 50%;
  top: 50%;
  margin-left: -3.6rem;
  margin-top: -3.6rem;
  position: absolute;
  background: url("/imgs/play.png") no-repeat;
  cursor: pointer;
}

section.not-found {
  text-align: center;
  img {
    max-width: 30rem;
    margin: 0 auto;
  }
}
