/* Non-printing */
@import "colors";

/* Vendor */
@import "vendor/normalize";

/* Shared */
@import "base";
@import "typography";
@import "newsletter";
@import "buttons";
@import "header";
@import "footer";
@import "mixins";
@import "layout";
@import "cards";

/* Pages */
// @import "pages/home";
@import "pages/blog";
@import "pages/help";
@import "pages/about-us";

//* Inputs *//
input {
  display: block;
}

input[type="email"] {
  --border-radius: 2rem;

  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: inherit;
}

//* YouTube videos *//
.youtube-player {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 1rem;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 8rem;
  width: 8rem;
  left: 50%;
  top: 50%;
  margin-left: -3.6rem;
  margin-top: -3.6rem;
  position: absolute;
  background: url("/imgs/play.png") no-repeat;
  cursor: pointer;
}

//* HOME PAGE SECTIONS //*
//* Product section *//
.products {
  .main-container {
    --container-width: 130ch;
  }

  .layout-grid {
    --gap: 2rem;
    --min: 26ch;
  }

  ul > li.card-component {
    padding-left: 2rem;
  }

  ul:nth-child(2) {
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100%;
  }
}

//* Safety section *//
.safety {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div + div {
    margin-bottom: 5rem;
  }

  .flex-container {
    --gap: 2rem;
  }

  .item1 {
    flex-basis: 0;
    margin-bottom: 2rem;
  }
}

.safety-icons {
  align-items: center;
  p {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-small);
  }

  img {
    width: 5rem;
  }
}

//* Testimonial section *//
.reviews {
  --content-max: 80ch;

  div:first-of-type {
    max-width: 93.375rem;
    margin: 0 auto;
  }

  .layout-grid {
    --min: 30ch;
  }

  .centering img {
    width: 15rem;
  }
}

.blockquote-box {
  margin: 2rem auto;
  background-color: var(--purple-600);
  font-size: 1.15rem;
  border: 2px dashed var(--purple-300);
  border-radius: 1.75rem;
  //* Smol Responsive Padding FTW! *//
  padding: clamp(0.75rem, 7%, 2rem);
  //* Provide a max-width and prevent overflow *//
  width: min(60ch, 95%);
  //* Help prevent overflow of long words/names/URLs *//
  word-break: break-word;
  //* Optional, not supported for all languages *//
  hyphens: auto;

  cite {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-top: 1.5rem;
    color: var(--color-primary);
    background-color: var(--purple-200);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    //* Creates a visual box shrunk to `max-content` *//
    width: fit-content;
  }
}

//* Latest blog posts section *//
.blog-posts {
  padding-top: 0;
}

//* PAGES *//
//* 404 page //*
.not-found-page {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: calc(100% - 2rem);
  max-width: 70ch;
  text-align: center;
}

//* UTILITIES *//
//* Positioning *//
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.centering {
  display: grid;
  place-content: center;
}

//* Borders *//
.border {
  padding-bottom: 5vh;
  border-bottom: 2px dashed var(--border-color);

  &--on-light {
    --border-color: var(--color-border-on-light-bg);
  }
}

//* Icons *//
.icons {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  border-radius: 50%;

  &--on-dark {
    background-color: var(--purple-600);
  }
}

// * Backgrounds *//
.dark-background {
  background-color: var(--color-bg-dark);

  h2,
  h3 {
    color: var(--color-heading-on-dark-bg);
  }

  p {
    color: var(--color-text-on-dark-bg);
  }
}

.light-background {
  ::marker {
    color: var(--color-marker-on-light-bg);
  }

  background-color: var(--color-bg-light);

  h2,
  h3 {
    color: var(--color-heading-on-light-bg);
  }

  p {
    color: var(--color-text-on-light-bg);
  }

  summary {
    --color-summary: var(--color-summary-on-light-bg);
  }

  details {
    --color-border: var(--color-border-on-light-bg);
  }
}

.light-background-alt {
  background-color: var(--color-bg-alt);

  h2 {
    color: var(--color-heading-on-light-bg-alt);
  }

  p {
    color: var(--color-text-on-light-bg-alt);
  }

  summary {
    --color-summary: var(--color-summary-on-light-bg-alt);
  }

  details {
    --color-border: var(--color-border-on-light-bg-alt);
  }
}

//* Mobile styles *//

@include breakpoint-up("large") {
  .safety .item1 {
    flex-basis: 30rem;
  }

  .safety {
    flex-direction: row;
  }
}
